<style>
    
#page-content, body {background:#fff !important}
.pageapp-login {
    padding-top: 60px !important;
} 
    
</style>
<div class="page-fullscreen vertical-bg-1 cart-page">
    <div class="page-fullscreen-content">
        <div class="page-404">
            <a href="#" class=" cart-img"><i class="ion-ios-cart"></i></a>
            <p >
                You don't have any products in pour cats!!
            </p>
            <a href="#!/products" class="button button-round button-blue add-cart-btn">ADD</a>
        </div>
    </div>
    <div class="overlay dark-overlay"></div>
</div>
