<div class="content-fullscreen tabs-nav">
    <div class="home-tabs ">
        <a class="activate-tab-1 active-home-tab" >Invoice</a>
        <a  href="#!/payment_history">Payment History</a>

        <div class="clear"></div>
    </div>
</div>

<div class="content" >
    <div class="thumb-layout">
        <h4 class="page-blog-title">Invoice</h4>
        <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>


    </div>

</div>
