
<div class="content-fullscreen tabs-nav">
    <div class="home-tabs animate-fade">
        <a class="activate-tab-1 active-home-tab" href="#">Invoice</a>
        <a class="activate-tab-2" href="#">Payment History</a>

        <div class="clear"></div>
    </div>
</div>

<div class="content" id="tab-1">
    <div class="thumb-layout">
        <h4 class="page-blog-title">Invoice</h4>
        <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
         <table class="invoice-history">
            <tr>
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">John</td>
                <td style="width: 50%; text-align: left"></td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left">INV-15</td>
                <td style="width: 50%; text-align: right; color: #0067a1;font-size: 15px; font-weight: bold">Rs.1525600/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
            </tr>
            <tr>
                <td style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">9/1/2014</td>
                <td style="width: 50%; text-align: right; color: #ccc">Draft</td>
            </tr>

        </table>
      
        
    </div>

</div>

<div class="content" id="tab-2">
    <h4 class="page-blog-title">Payment History</h4>
    <table class="payment-history">
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
    </table>

    <div class="content">
        <div class="decoration"></div>
    </div>
</div>   