


<div class="decoration decoration-margins"></div>

<div class="content-fullscreen no-bottom">    
    <div class="one-half-responsive">
        <h3 class="right-text half-bottom padding-right">January, 2025</h3>
        <div class="calendar-titles">
            <a class="light-titles" href="#">S</a>
            <a href="#">M</a>
            <a href="#">T</a>
            <a href="#">W</a>
            <a href="#">T</a>
            <a href="#">F</a>
            <a class="light-titles" href="#">S</a>
        </div>
        <div class="decoration half-bottom"></div>
        <div class="calendar-days">
            <!-- &nbsp adds a space for the single numbers, this way they can be centered in boxes -->
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp1</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp2</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp3</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp4</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp5</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp6</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp7</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp8</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>&nbsp9</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>10</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>11</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>12</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>13</a>
            <a class="light-day" href="#"><i class="ion-record"></i>14</a>
            <a class="light-day" href="#"><i class="ion-record"></i>15</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>16</a>
            <a class="taken-day" href="#"><i class="ion-record"></i>17</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>18</a>
            <a class="close-day" href="#"><i class="ion-record"></i>19</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>20</a>
            <a class="light-day" href="#"><i class="ion-record"></i>21</a>
            <a class="light-day" href="#"><i class="ion-record"></i>22</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>23</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>24</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>25</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>26</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>27</a>
            <a class="light-day" href="#"><i class="ion-record"></i>28</a>
            <a class="light-day" href="#"><i class="ion-record"></i>29</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>30</a>
            <a class="clear-day" href="#"><i class="ion-record"></i>31</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp1</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp2</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp3</a>
            <a class="light-day" href="#"><i class="ion-record"></i>&nbsp4</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="decoration decoration-margins"></div>

    <div class="content">
        <h5 style="text-align:center">SUBSCRIPTION SCHEDULE</h5>
        <div class="checklist">
            <a href="#" class="checklist-item checklist-item-complete one-half-responsive">
                <em>01 Jan<br><span>2023</span></em>
                <strong>Amrakhand</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive last-column">
                <em>02 Feb<br><span>2023</span></em>
                <strong>Mango Lassi</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive">
                <em>03 Mar<br><span>2023</span></em>
                <strong>Special Lassi</strong>
            </a>                

            <div class="clear"></div>
        </div>
    </div>
</div>


