<style>
.heading-strip .dark-overlay {
        background-color: #0067a1;
}
.heading-strip {margin: 0 20px;}
</style>

  <div class="content-fullscreen">                
				<iframe class="responsive-image maps no-bottom" src="https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed"></iframe>
		   </div>

<div class="decoration decoration-margins"></div>
				<div class="heading-strip bg-1">
					<h4>Call Us</h4>
					<p>+91 9999 999 999</p>
					<i class="ion-ios-telephone-outline"></i>
					<div class="overlay dark-overlay"></div>
				</div>
				<div class="decoration decoration-margins"></div>
                                
                                <div class="heading-strip bg-1">
					<h4>Email Us</h4>
					<p>info@desifarmsindia.com</p>
					<i class="ion-email"></i>
					<div class="overlay dark-overlay"></div>
				</div>