<div class="decoration decoration-margins"></div>

<div class="content">
    <div class="one-half-responsive">
        <div class="container heading-style">
            <h4 class="heading-title">Get Started!</h4>
            <i class="ion-ios-email-outline heading-icon"></i>
            <div class="line bg-black"></div>
            <p class="heading-subtitle">
                Please Enter OTP 
            </p>
        </div>
        <div class="container no-bottom">
            <div class="contact-form no-bottom"> 

                <form action="" method="post" class="contactForm">
                    <fieldset>


                        <div class="formFieldWrap">
                            <input type="text" name="contactNameField" value="Enter OTP " class="contactField requiredField" id="contactNameField"/>
                        </div>

                        <div class="formSubmitButtonErrorsWrap contactFormButton">
                            <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="VERIFY OTP" onclick="location.href='?#!/userinfo';" data-formId="contactForm"/>
                        </div>
                    </fieldset>
                </form>    

            </div>

        </div>
        <a  href="?#!/otp"  class="hide-notification-ref">Resend OTP</a>
    </div>


</div>