<style>
#page-content, body {background:#fff !important}
</style>

<div class="decoration decoration-margins"></div>
<div class="content holdpage">
    <h5 style="text-align:center">Hold Subscription</h5>
    <div class="decoration decoration-margins"></div>
<p>From Date:</p>
    	<div id="paginator"></div>
   
      <div id="paginator-start-end"></div>
	  <p>To Date:</p>
	  <div id="paginator1"></div>
	  <div id="paginator-start-end"></div>
	  
	  <div class="note-box">
<strong>Note:</strong> If you want to Stop or Hold delivery for more than 14 days, please call our Customer Care Number <br>
<span> +91 9999 999 999</span>
</div>
 <a  href="javascript:void(0)"  class="hold-btn">Hold</a>
    </div>

<script>
    
var options = {
    selectedDate: '2017-05-01',
    selectedDateFormat:  'YYYY-MM-DD'
}
$('#paginator').datepaginator(options);
$('#paginator1').datepaginator(options);
</script>