<div class="store-slider no-bottom">
				<div class="swiper-wrapper">
					<a href="#" class="swiper-slide store-slider-item">
					
						<img class="responsive-image" src="images/pictures/1.jpg" alt="img">
						<h3>Buy one get one free!</h3>
					</a>
					<a href="#" class="swiper-slide store-slider-item">
					
						<img class="responsive-image" src="images/pictures/2.jpg" alt="img">
						<h3>Last minute offer!</h3>
					</a>     
					<a href="#" class="swiper-slide store-slider-item">
					
						<img class="responsive-image" src="images/pictures/3.jpg" alt="img">
						<h3>Best Selling Item</h3>
					</a>
				</div>
			</div>
				<div class="animate-fade">
					<h3 class="center-text thin small-bottom half-top">Your not logged in?</h3>
				</div>
				
				<div class="content-center-buttons full-bottom animate-bottom animate-time-1000" style="text-align:center">
					<a href="?#!/otp" class="button button-blue button-round button-bold button-xs">GET STARTED</a>
					<div class="clear"></div>
				</div>
				
				<!--<div class="animate-fade">
					<h3 class="center-text thin small-bottom half-top">You have not try yet?</h3>
				</div>
				<div class="content-center-buttons full-bottom animate-bottom animate-time-1000">
					<a href="#" class="button button-blue button-round button-bold button-xs">TRY NOW</a>
					<a href="#" class="button button-blue button-round button-bold button-xs">CALL NOW</a>
					<div class="clear"></div>
				</div>-->
			
			<p class="category-title">
				Featured Products
				<a href="#">See All</a>
			</p>
			<div class="clear"></div>
			<div class="category-slider">
				<div class="swiper-wrapper">
					<a class="swiper-slide" href="#">
						<img class="responsive-image" src="images/pictures/3t.jpg" alt="img">
						<em>Choco 300ml Pack of 2</em>
						<strong>Rs. 100/-</strong>
						<u class="color-green-dark">Free Shipping</u>
					</a>            
					<a class="swiper-slide" href="#">
						<img class="responsive-image" src="images/pictures/2t.jpg" alt="img">
						<em>Ghee 500ml</em>
						<strong>Rs. 250/-</strong>
						<u class="color-green-dark">Free Shipping</u>
					</a>            
					<a class="swiper-slide" href="#">
						<img class="responsive-image" src="images/pictures/1t.jpg" alt="img">
						<em>Amrkhand</em>
						<strong>Rs. 150/-</strong>
						<u class="color-green-dark">Free Shipping</u>
					</a>            
					
				</div>
			</div> 
			
			<div class="content no-bottom">
				<div class="decoration"></div>
				<h2 class="center-text thin small-bottom">Desi Farms Gurantee</h2>
				

				<div class="decoration deco-0 decoration-small animate-zoom"></div>

				<div class="one-half-responsive">
					<div class="column-home-center one-half animate-left">
						<i class="ion-ios-checkmark-outline color-green-dark"></i>
						<p>Farm-Fresh</p>
					</div>
					<div class="column-home-center one-half last-column animate-right">
						<i class="ion-jet color-red-dark"></i>
						<p>Antibiotic-free & <br>Hormone free</p>
					</div>
				</div>
				<div class="one-half-responsive last-column">
					<div class="column-home-center one-half animate-left animate-delay-100">
						<i class="ion-gear-a color-blue-dark"></i>
						<p>Untouched, outomated milking</p>
					</div>
					<div class="column-home-center one-half last-column animate-right  animate-delay-100">
						<i class="ion-help-buoy color-orange-dark"></i>
						<p>Healthy, Happy Cows</p>
					</div>
				</div>
				<div class="decoration"></div>
			</div>
			
			
