
<div class="content-fullscreen no-bottom">    
    
    <div class="decoration decoration-margins"></div>

    <div class="content">
        <h5 style="text-align:center">My Orders</h5>
        <p class="order-title">Mango Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>

        </table>
        
        
        <p class="order-title">Special Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
        
        <p class="order-title">Amrkhand</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
         <p class="order-title">Mango Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>

        </table>
        
        
        <p class="order-title">Special Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
        
        <p class="order-title">Amrkhand</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
         <p class="order-title">Mango Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>

        </table>
        
        
        <p class="order-title">Special Lassi</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
        
        <p class="order-title">Amrkhand</p>
        <table class="order-table">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left">9/10/2016</td>
                <td rowspan="3" style="width: 40%; text-align: right"> <a  href=""  class="button button-green">REORDER</a></td>
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold">Completed</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.500/-</td>
            </tr>
        </table>
    </div>
</div>


