
<div class="content-fullscreen no-bottom">    
    
    <div class="decoration decoration-margins"></div>

    <div class="content">
        <h5 style="text-align:center">My Orders</h5>
        <div class="checklist">
            <a href="#" class="checklist-item checklist-item-complete one-half-responsive">
                <em>01 Jan<br><span>2023</span></em>
                <strong>Amrakhand</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive last-column">
                <em>02 Feb<br><span>2023</span></em>
                <strong>Mango Lassi</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive">
                <em>03 Mar<br><span>2023</span></em>
                <strong>Special Lassi</strong>
            </a>      
            <a href="#" class="checklist-item checklist-item-complete one-half-responsive">
                <em>01 Jan<br><span>2023</span></em>
                <strong>Amrakhand</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive last-column">
                <em>02 Feb<br><span>2023</span></em>
                <strong>Mango Lassi</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive">
                <em>03 Mar<br><span>2023</span></em>
                <strong>Special Lassi</strong>
            </a>         
            <a href="#" class="checklist-item checklist-item-complete one-half-responsive">
                <em>01 Jan<br><span>2023</span></em>
                <strong>Amrakhand</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive last-column">
                <em>02 Feb<br><span>2023</span></em>
                <strong>Mango Lassi</strong>
            </a>                
            <a href="#" class="checklist-item one-half-responsive">
                <em>03 Mar<br><span>2023</span></em>
                <strong>Special Lassi</strong>
            </a>         
            

            <div class="clear"></div>
        </div>
    </div>
</div>


