<div class="decoration decoration-margins"></div>

<div class="content">
    <div class="one-half-responsive">
        <div class="container heading-style">
            <h4 class="heading-title">Get Started!</h4>
            <i class="ion-ios-email-outline heading-icon"></i>
            <div class="line bg-black"></div>
            <p class="heading-subtitle">
                OTP will be sent to this number
            </p>
        </div>
        <div class="container no-bottom">
            <div class="contact-form no-bottom">
                <!--<div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                        <div class="notification-medium bg-green-light">
                                <h1>OTP Sent!</h1>
                                <p>
                                        We'll be back shortly!
                                </p>
                                <a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
                        </div>
                </div>-->

                <form action="" method="post" class="contactForm">
                    <fieldset>

                        <!--<div class="formValidationError bg-red-dark" id="contactMessageTextareaError">
                                <p class="center-text uppercase small-text color-white">Field is empty!</p>
                        </div>   -->
                        <div class="formFieldWrap">
                            <label class="field-title contactNameField" for="contactNameField">Enter Number:<span>(required)</span></label>
                            <input type="text" name="contactNameField" placeholder="Enter Number" class="contactField requiredField" id="contactNameField"/>
                        </div>

                        <div class="formSubmitButtonErrorsWrap contactFormButton">
                            <a style="padding-left:0px !important;padding-top: 0px !important;" class="button button-green button-icon button-full  half-bottom" id="contactSubmitButton" onclick="location.href = '#!/enterOtp';"  data-formId="contactForm">Send OTP</a>
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>

    </div>


</div>
