 <div class="decoration decoration-margins"></div>
 
 <div class="content">
				<div class="one-half-responsive">
					<div class="container heading-style">
						<h4 class="heading-title">Get Started!</h4>
						<i class="ion-ios-email-outline heading-icon"></i>
						<div class="line bg-black"></div>
						<p class="heading-subtitle">
							OTP will be sent to this number
						</p>
					</div>
					<div class="container no-bottom">
						<div class="contact-form no-bottom"> 
							<!--<div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
								<div class="notification-medium bg-green-light">
									<h1>OTP Sent!</h1>
									<p>
										We'll be back shortly!
									</p>
									<a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
								</div>
							</div>-->

							<form action="" method="post" class="contactForm">
								<fieldset>
									 
									<!--<div class="formValidationError bg-red-dark" id="contactMessageTextareaError">
										<p class="center-text uppercase small-text color-white">Field is empty!</p>
									</div>   -->
									<div class="formFieldWrap">
										<label class="field-title contactNameField" for="contactNameField">Enter Number:<span>(required)</span></label>
										<input type="text" name="contactNameField" value="Enter Number" class="contactField requiredField" id="contactNameField"/>
									</div>
									
									<div class="formSubmitButtonErrorsWrap contactFormButton">
										<input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" onclick="location.href='?#!/enterOtp';" value="Send OTP" data-formId="contactForm"/>
									</div>
								</fieldset>
							</form>    
											
						</div>
						
					</div>
					<a  href="?#!/referralCode"  class="hide-notification-ref">Refrral code if any</a>
				</div>

				
			</div>