
<div class="decoration decoration-margins"></div>

<div class="content">       
    <div class="store-cart-1 products-details">
        <img class="pro-img" src="images/desi-logo.png" alt="img" >
        <div class="cart-item">
            <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">
            <h1>Amrakhand</h1>
            <h2>Rs. 200/-</h2>
            <h3>Desi Farms India</h3>
            <h4>
                <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                <input type="text" value="1" class="qty">
                <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
            </h4>

        </div>     

    </div>
</div>