	<div class="heading-strip bg-1">
				<h3>Products</h3>
				<p>Desi Farms India</p>
				<i class="ion-bag"></i>
				<div class="overlay dark-overlay"></div>
			</div>

			<div class="decoration decoration-margins"></div>

<div class="content">       
    <div class="store-cart-1">
        <div class="cart-item">
            <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/empty.png">
            <h1>Amrakhand</h1>
            <h2>Rs. 200/-</h2>
            <h3>Desi Farms India</h3>
            <h4>
                <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                <input type="text" value="1" class="qty">
                <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
            </h4>
            <h5><a class="remove-cart-item" href="#"><i class="ion-android-close"></i></a></h5>
        </div>            
        <div class="cart-item">
            <img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/empty.png">
            <h1>Mango Lassi</h1>
            <h2>Rs. 100/-</h2>
              <h3>Desi Farms India</h3>
            <h4>
                <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                <input type="text" value="1" class="qty">
                <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
            </h4>
            <h5><a class="remove-cart-item" href="#"><i class="ion-android-close"></i></a></h5>
        </div>            
        <div class="cart-item">
            <img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/empty.png">
           <h1>Special Lassi</h1>
            <h2>Rs. 120/-</h2>
              <h3>Desi Farms India</h3>
            <h4>
                <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                <input type="text" value="1" class="qty">
                <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
            </h4>
            <h5><a class="remove-cart-item" href="#"><i class="ion-android-close"></i></a></h5>
        </div>            
                  
       
        <div class="clear"></div>

        <div class="decoration"></div>
    </div>
</div>