<style>
    #page-content {
    background-color: #f3f3f3;
}
    .box {
	width:100%;
	background:#FFF;
}
.store-cart-1 .cart-item {height: 100px;}
 /*==================================================
 * Effect 4
 * ===============================================*/
.effect4
{
  position: relative;
  padding: 10px;
  
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

</style>
<div class="decoration decoration-margins"></div>

<div class="content">       
  
    <div class="store-cart-1">
        <a href="?#!/productsdetails">
            <div class="box">
                <div class="cart-item effect4">
                    <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">
                    <h1>Amrakhand</h1>
                    <h2>Rs. 200/-</h2>
                    <h3>Desi Farms India</h3>
                    <h4>
                        <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                    </h4>

                </div> 
            </div>
        </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/products/mango-lassi.png">
                <h1>Mango Lassi</h1>
                <h2>Rs. 100/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>

            </div>   
        </div>
         </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/products/special-lassi.png">
                <h1>Special Lassi</h1>
                <h2>Rs. 120/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>
            </div>   
        </div>
         </a>

         <a href="?#!/productsdetails">
            <div class="box">
                <div class="cart-item effect4">
                    <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">
                    <h1>Amrakhand</h1>
                    <h2>Rs. 200/-</h2>
                    <h3>Desi Farms India</h3>
                    <h4>
                        <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                    </h4>

                </div> 
            </div>
        </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/products/mango-lassi.png">
                <h1>Mango Lassi</h1>
                <h2>Rs. 100/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>

            </div>   
        </div>
         </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/products/special-lassi.png">
                <h1>Special Lassi</h1>
                <h2>Rs. 120/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>
            </div>   
        </div>
         </a>
         <a href="?#!/productsdetails">
            <div class="box">
                <div class="cart-item effect4">
                    <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">
                    <h1>Amrakhand</h1>
                    <h2>Rs. 200/-</h2>
                    <h3>Desi Farms India</h3>
                    <h4>
                        <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                    </h4>

                </div> 
            </div>
        </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/products/mango-lassi.png">
                <h1>Mango Lassi</h1>
                <h2>Rs. 100/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>


            </div>   
        </div>
         </a>
         <a href="?#!/productsdetails">
        <div class="box">
            <div class="cart-item effect4">
                <img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/products/special-lassi.png">
                <h1>Special Lassi</h1>
                <h2>Rs. 120/-</h2>
                <h3>Desi Farms India</h3>
                <h4>
                    <a href="#" class="add-qty"><i class="ion-plus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a href="#" class="substract-qty"><i class="ion-minus-round"></i></a>
                </h4>
            </div>   
        </div>
         </a>

        <div class="clear"></div>

        <div class="decoration"></div>
    </div>
</div>

