 <div class="decoration decoration-margins"></div>

 <div class="content">
				<div class="one-half-responsive">

					<div class="container no-bottom">
						<div class="contact-form no-bottom">

							<form action="" method="post" class="contactForm">
								<fieldset>


									<div class="formFieldWrap">
										<label class="field-title contactNameField" for="contactNameField">Enter Refrral code:</label>
										<input type="text" name="contactNameField" value="Enter Refrral code" class="contactField requiredField" id="contactNameField"/>
									</div>

									<div class="formSubmitButtonErrorsWrap contactFormButton">
										<input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="GO" data-formId="contactForm"/>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<a  href="#!/otp"  class="hide-notification-ref">Skip</a>
				</div>


			</div>
