<style>
#page-content, body {background:#fff !important}
.pageapp-login {
    padding-top: 60px !important;
}
</style>

					<div class="pageapp-login">
						<a href="#" class="pageapp-login-logo">
							<img src="images/desi-logo.png" alt="img">
						</a>
						<div class="pageapp-login-input">
							<i class="login-icon ion-person"></i>
							<input type="text" value="Username" onfocus="if (this.value=='Username') this.value = ''" onblur="if (this.value=='') this.value = 'Username'">
						</div>                   
						<div class="pageapp-login-input">
							<i class="login-icon ion-at"></i>
							<input type="text" value="Email Address" onfocus="if (this.value=='Email Address') this.value = ''" onblur="if (this.value=='') this.value = 'Email Address'">
						</div>                     
						<div class="pageapp-login-input">
							<i class="login-icon ion-calendar"></i>
							<input class="set-today" type="date">                
						</div>                
						<div class="pageapp-login-input full-bottom">
							<i class="login-icon ion-locked"></i>
							<input type="password" value="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
						</div>

						<a href="#!/home" class="button button-green button-icon button-full half-top half-bottom"><i class="ion-log-in"></i>SUBMIT</a>

						
					</div>
			