<style>
#page-content, body {background:#fff !important}
</style>
<div class="decoration decoration-margins"></div>
<div class="pageapp-login subscription">
    <label>With Effect From</label>

    <div class="pageapp-login-input">

        <i class="login-icon ion-calendar"></i>
        <input class="set-today" type="date">
    </div>

</div>
<div class="decoration decoration-margins" style="margin-top: 10px; margin-bottom: 20px"></div>
<div class="pageapp-login subscription">
    <h4>Select Product</h4>
    <div class="space-mr"></div>
    <label class="va">Variant</label>
    <div class="select-box">
        <select>
            <option class="select-title" value="o0">Select Product</option>
            <option value="o1">Option 1</option>
            <option value="o2">Option 2</option>
            <option value="o3">Option 3</option>
            <option value="o4">Option 4</option>
        </select>
    </div>
    <div class="space-mr"></div>
    <label class="va">Quantity</label>
    <input type="text" class="input-text-box input-red-border" value="1">

</div>
<div class="space-mr"></div>
<div class="decoration decoration-margins" style="margin-top: 10px; margin-bottom: 20px"></div>
<div class="pageapp-login subscription">
    <h4>Recurrence Pattern</h4>

    <div class="space-mr"></div>
    <div style="text-align: left">
        <div class="fac fac-radio fac-default"><span></span>
            <input id="box1-fac-radio" type="radio" name="rad" value="1">
            <label for="box1-fac-radio">Daily</label>
        </div>
        <div class="fac fac-checkbox-o fac-green"><span></span>
            <input id="box3-fac-checkbox-o" type="checkbox" value="1" checked="">
            <label for="box3-fac-checkbox-o">Day</label>
        </div>
        <div class="fac fac-radio fac-default"><span></span>
            <input id="box1-fac-radio" type="radio" name="rad1" value="1">
            <label for="box1-fac-radio">Week</label>
        </div>
    </div>
    <div class="space-mr"></div>
        <label class="va">Every</label>
        <input type="text" class="input-text-box input-red-border" value="1">
        <label class="va">day(s)</label>
        <div class="space-mr"></div>
        <label class="va1">Except Selection</label>
        <div class="space-mr"></div>
        <div class="ch-bx">
    <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Sun</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Mon</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Tue</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Wed</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Thu</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Fri</label>
    </div>
        <div class="fac fac-checkbox fac-blue"><span></span>
        <input id="box2-fac-checkbox" type="checkbox" value="1">
        <label for="box2-fac-checkbox">Sat</label>
    </div>
        </div>
        <div class="space-mr"></div>
       
</div>
<div class="sub-btn">
  <a  href=""  class="button button-green">SUBMIT</a>
</div>
