
<div class="content-fullscreen tabs-nav">
    <div class="home-tabs animate-fade">
        <a class="activate-tab-1 active-home-tab" href="#">Terms of Service</a>
        <a class="activate-tab-2" href="#">Privacy Policy</a>

        <div class="clear"></div>
    </div>
</div>


<div class="content" id="tab-1">
    <div class="thumb-layout">

<h5 style="text-align:center">Terms of Service</h5>
<div class="decoration decoration-margins"></div>
        
        <p style="font-size: 12px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
</p>           

    </div>
    <div class="decoration"></div>
</div>

<div class="content" id="tab-2">

<h5 style="text-align:center">Privacy Policy</h5>
<div class="decoration decoration-margins"></div>    
     <p style="font-size: 12px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
</p>                

    <div class="content">
        <div class="decoration"></div>
    </div>
</div>   