<div class="page-fullscreen">
    <div class="page-fullscreen-content">
        <div class="pageapp-login">
            <a href="#" class="pageapp-login-logo animate-zoom">
                <img src="images/desi-logo.png">
            </a>
            <div class="pageapp-login-input animate-fade">
                <i class="login-icon ion-person"></i>
                <input type="text" value="Name">
            </div>                   
            <div class="pageapp-login-input animate-fade animate-delay-100">
                <i class="login-icon ion-android-mail"></i>
                <input type="text" value="Email Address">
            </div>                     

            <a href="?#!/home" class="button button-green button-icon button-full half-top half-bottom animate-fade animate-delay-400"><i class="ion-ios-arrow-thin-right"></i>SUBMIT</a>
        </div>
    </div>

</div>